body{
    font-family: sans-serif;

}

     .button{
        display: flex;
         align-items: center;
         justify-content: center;
         margin-top: 10px;
         
     }

     
     .Div2{
        display: flex;
        justify-content: center;
        
        
    }
    .InnerDiv2{
       background-color:black;
        width: 50%;
        color: white;
        box-shadow: 5px 10px 18px #888888;
 padding: 10px;
 display: flex;
    }
    .Div3{
        display: flex;
        justify-content: center;
        
        
    }
    .InnerDiv3{
        background-color:whitesmoke;
         width: 50%;
         box-shadow: 5px 10px 18px #888888;
         padding: 10px;
         display: flex;
     }
     .InnerDiv3 h3{
         color: #28B4A3;
     }
     .LeftDiv3{
         min-width: 50%;
         color: black;
     }
     .skills span{
         background-color: rgb(19, 17, 48);
        padding: 10px;
         color: white;
         border-radius: 25px;
         margin: 5px;
         
     }
     .leftDiv2{
        min-width: 50%;
        color:white;
    }
    
    .rightDiv2{
        min-width: 50%;
    }
    .rightDiv3{
        min-width: 50%;
    }
    
    .Div1{
        display: flex;
        justify-content: center;
        
        
    }
    .InnerDiv1{
        margin-top: 20px;
       background-color:#2F3B44;
        width: 50%;
        color: white;
        box-shadow: 5px 10px 18px #888888;
       padding: 10px;
       display: flex;
       
    }
    .leftDiv1{
        min-width: 100%;
        color:white;
    }
    .rightDiv1{
        min-width: 20%;
    }
    .rightDiv1 img{
        width: 100%;
        height: 150px;
        border-radius: 50%;
        border: 2px solid green;
    }
    .mainSignUp{
        display: flex;
        
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
 background-image: url("../src/img/back.jpg");
        
        
    }