.img{
    display: flex;
    width: 20%;
    border: 1px;
    border-style: dotted;
    border-radius: 5px;
    margin-right: auto;
    height: 40vh;
}
.header{
    padding: 20px;
    text-align: center;
    color: blueviolet;
    font-size: 40px;
    background: chocolate;
}
.footer{
    background: cornflowerblue;
    text-align: center;
    font-size: 80px;
    color: greenyellow
}
.content{
    text-align: center; 
}
.sidebar{
    width: 40vw;
    height: 40vh;
    background: aquamarine ;
}

.kuchv{
    display: flex;
}