body{
    margin: 0%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: darkgrey;
  }
  .active {
    background-color: darkgrey;
  }
  #url{
    padding: 10px;
    border-width: 3px;
    border-color: brown;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#url:hover{
    padding: 10px;
    border-width: 3px;
    border-color: red;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#myBtn{
    border-width: 3px;
    border-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: bisque;
}
#myBtn:hover{
    border-width: 3px;
    border-color: red;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: bisque;
}
#myBtn1{
    border-width: 3px;
    border-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: bisque;
}
#myBtn1:hover{
    border-width: 3px;
    border-color: red;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: bisque;
}
.urlsection{
    border-radius: 10px;
    width: fit-content;
    padding: 3%;
    background-color: cornsilk;
    align-items: center;
}
button{
    border-width: 3px;
    border-color: brown;
    border-radius: 10px;
    background-color: bisque;
    padding: 8px;
    margin-left: 10px;
}
.sidebar{
    content: inherit;
    background-image: url("joker1.jpg");
    padding: 1%;
    height: 100vh;
    justify-content: center;
}
.footer{
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
}
.input{
    padding: 10px;
    border-width: 3px;
    border-color: brown;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.subdiv{
    padding-bottom: 10px;
    justify-content:center;
      align-items: center;
}
.inputurl{
    display: flex;
}
.card {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    background-color: azure;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:chocolate;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .card:hover .overlay {
    height: 100%;
  }
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }