body{
    min-height: 100vh;
    max-width: 60%;
    border: 1px solid black;
    align-content: center;
    justify-content: center;
    font-size: large;
    background-color: rgb(175, 166, 166);
    color: cornsilk;
    padding-left: 20px;
    margin-left: 20%;
}
input{
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 10px;
}
button{
padding: 20px;
margin-left: 500px;
background-color: cadetblue;
}
h1{
 font: sans-serif;
    margin-left: 35%;
}