body{
    min-height: 100vh;
    max-width: 60%;
    border: 2px solid white;
    font-size: large;
    background-color: rgb(175, 166, 166);
    /* color: cornsilk; */
    background-image: url(bg4.jpg);
    background-size: cover;
    border-radius: 20px;
    background-color: rgb(175, 166, 166);

    padding-left: 20px;
    margin-left: 20%;
    padding-right: 20px;}
input{
    padding: 5px;
    margin-right: 95px;
    margin-top: 20px;
    width: 200px;
    height: 10px;
}
button{
padding: 20px;
margin-left: 40%;
margin-top: 20px;
background-color: cadetblue;
border-radius: 20px;
}
h1{
 font: sans-serif;
    margin-left: 35%;
    color: cornsilk;
}
.info{
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    background: linear-gradient(to right bottom,rgba(255, 253, 253, 0.2),rgba(255, 255, 255, 0.2));


    
}
.info1{
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 20px;
    background: linear-gradient(to right bottom,rgba(255, 253, 253, 0.2),rgba(255, 255, 255, 0.2));



}
.edu, .pro, .skills, .ach , .org , .lang, .hob{
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    border-radius: 20px;
    background: linear-gradient(to right bottom,rgba(255, 253, 253, 0.2),rgba(255, 255, 255, 0.2));


}
.cer{
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background: linear-gradient(to right bottom,rgba(255, 253, 253, 0.2),rgba(255, 255, 255, 0.2));



}
break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }
  form{
    /* background: linear-gradient(to right bottom,rgba(255, 253, 253, 0.2),rgba(255, 255, 255, 0.2)); */

  }
  input{
      background-color: rgb(202, 190, 190);
      border-radius: 10px;
  }
  select{
      border-radius: 20px;
      background-color: cornsilk;
      height: 30px;
      margin-top: 15px;
  }