
table, td, th {  
          border: 1px solid #ddd;
          text-align: left;
}
        
table {
          border-collapse: collapse;
          width: 80%;
          margin-left: 10%;
}
        
th, td {
    background-color: cadetblue;
    padding: 15px;
}
 .user{
            display:none;
 }
         