.header{
    padding: 2px;
    text-align: center;
    background-image: linear-gradient(to right, green, yellow,rgb(156, 20, 72),Brown);
    color: rgb(250, 245, 248);
    font-size: 30px;
    
   
}
input {
 border-radius: 5px;
 box-shadow:3px 3px 1px grey;
 margin:auto ;
 width: 70%px;
 
  }
   .container{ 
       
     background-color: rgb(195, 206, 209);
      position: relative; 
       margin : auto;  
     width:50%;
     /* box-shadow: rgb(71, 70, 64);  */

 } 
.layout{
    background-image: linear-gradient(to right, green, yellow,rgb(156, 20, 72),Brown);
}
input:hover[type="submit"] 
{
    background: red;
}