#url{
    padding: 10px;
    border-width: 3px;
    border-color: brown;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#url:hover{
    padding: 10px;
    border-width: 3px;
    border-color: red;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#myBtn{
    border-width: 3px;
    border-color: brown;
    height: 40px;
    width: 50px;
    border-radius: 10px;
    background-color: bisque;
}
#myBtn:hover{
    border-width: 3px;
    border-color: red;
    height: 40px;
    width: 50px;
    border-radius: 10px;
    background-color: bisque;
}
.urlsection{
    border-radius: 10px;
    width: fit-content;
    padding: 5%;
    background-color: cornsilk;
    margin-top: 8%;
    margin-left: 30%;
    align-items: center;
}
li{
    padding: 5px;
}
