*{
    margin-right: 0%;
    margin-left: 10px;
}

.img1{
    width: 20px;
}

.mainSkills_1, .mainSkills_2, .mainSkills_3, .mainSkills_4{
    margin-bottom: 15%;
    display: block;
    justify-content: space-between;
}

#skill1, #skill2, #skill3, #skill4, #skill5, #skill6, #skill7
, #skill8, #skill9{
    background-color: #2cbfaa;
    border-radius: 5px;
    padding: 8px;
}

#mainDis
{
    background-color: #2cbfaa;
    width: calc(100% + 10px);
}

#pic{
    width: 70%;
    border-radius: 50%;

}
.q
{
    color: #2cbfaa;
}

#ed11,#ed21,#ed31
{
    color: #2cbfaa;
}

#ed13,#ed23,#ed33
{
    margin-left: 90%;
}

#int1,#int2,#int3
{
    border:2px solid #2cbfaa;
    padding: 5px;
    border-radius: 5px;

}

#lan1,#lan2
{
    color: black;
}

#name,#dis1,#dis2
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}