body {
    background-color: antiquewhite;
}


/* new css */

.filed-col {
    display: flex;
    margin-bottom: 10px;
}

.filed-col>div {
    width: 130px;
}


/* new css end */

.final_submit {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.final_btn {
    border-radius: 5px;
    background: -webkit-linear-gradient(left, antiquewhite, lightblue);
    padding: 20px;
}

.regform {
    margin-top: 40px;
    width: 800px;
    background-color: rgb(0, 0, 6);
    /* text-align: center; */
    color: whitesmoke;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}

main {
    background-color: whitesmoke;
    width: 800px;
    margin-left: 25%;
    margin-bottom: 5%;
    border-radius: 5px;
    border-color: solid black;
}

.myForm h1 {
    display: flex;
    justify-content: center;
    max-width: 100%;
    /* border: 2px solid lightgray; */
    text-decoration: underline;
}


/* giving spaces to each input box */


/* #email_address {
    margin-left: 30px;
}

#mobile_number {
    margin-left: 50px;
}

#location {
    margin-left: 62px;
} */

.seconddiv_icon {
    margin-top: 10px;
    margin-left: 40px;
}

.seconddiv_name {
    margin-left: 40px;
}

.seconddiv_skills {
    margin-left: 150px;
}

.firstdiv_education {
    width: 40%;
}

.seconddiv_education {
    margin-left: 80px;
    width: 40%;
}

.thirddiv_education {
    width: 50%;
    padding-top: 20px;
}

.firstdiv_personal {
    width: 40%;
    padding-right: 80px;
}

.seconddiv_personal {
    width: 40%;
}

.thirddiv_personal {
    padding-top: 20px;
    width: 50%;
}


/* #linkedin {
    margin-left: 20px;
}

#github {
    margin-left: 32px;
}

#instagram {
    margin-left: 15px;
}

#skill_1 {
    margin-left: 30px;
}

#skill_2 {
    margin-left: 30px;
}

#skill_3 {
    margin-left: 30px;
}

#skill_4 {
    margin-left: 30px;
}

#skill_5 {
    margin-left: 30px;
}

#skill_6 {
    margin-left: 30px;
}

#skill_7 {
    margin-left: 30px;
}

#skill_8 {
    margin-left: 30px;
}

#degree_1 {
    margin-left: 56px;
}

#college_1 {
    margin-left: 4px;
}

#degree1_date {
    margin-left: 86px;
}

#degree_2 {
    margin-left: 56px;
}

#college_2 {
    margin-left: 4px;
}

#degree2_date {
    margin-left: 86px;
}

#school_board {
    margin-left: 24px;
} */

label {
    width: 10px;
}


/* #project1_name {
    margin-right: 40px;
} */

#school_date {
    margin-left: 86px;
}

.name-section {
    padding-left: 5%;
    display: flex;
}

.icon-section {
    padding-left: 5%;
    display: flex;
}

.skills_section {
    padding-left: 5%;
    display: flex;
}

.languages_section {
    padding-left: 5%;
}

.education_section {
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.personal_projects_section {
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.certificates_section {
    padding-left: 5%;
}