*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
ul li{
    display: flex;
    margin: 10px 0;
}

ul li span{
    margin-left: 10px;
    color: black;
}
.a{
    text-align: center;
    color:rgb(161, 140, 140);
    background-color: white;
    /* width: 90vw; */
    height: 20vh;
    border: 40px solid rgb(233, 203, 146);
}
.b{
    color:skyblue;
}
.left{
    padding-left: 2vw;
    width: 60vw;
    color: gray;
    background-color:rgb(199, 224, 233);
}
.right{
    width: 70vw;
    color: gray;
}
.new{
    display: flex;
}


/* new css */
.resume{
    width: 70%;
    border: 1px solid black;
    margin: auto;
}
