label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
    font-weight: bold;
}

input{

    border-radius: 20px;
    width: 290px;
    height: 40px;
}
.q
{
    background-color: coral;
    width: 60vw;
    height: 80vh;
    border-radius: 50px;
}
button
{
    border-radius: 20px;
    width: 9vw;
    margin: 5px;
    padding: 10px;
    height: 6vh;
}
input:focus{
    outline: none !important;
}
button:focus{
    outline: none !important;
}