* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
   }
   
   body {
    background: #8ba1ce;
    font-size: 14px;
    line-height: 22px;
    color: #8683a3;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
   }
   #abcde {
       
       border: 3px solid wheat;
       background-color:white;
      
       margin-left:250px;
       margin-right:250px;
      
   /* } */
   /* #name_txt{ */
       /* font-weight:400; */
       /* color:black; */
   /* } */
  