doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Client Data
  body
    br
    span #{users.client_name}
    br
    span #{users.client_email} 
    br
    span  #{users.comment}
    

    
